<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.User_loginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.User_loginBean">
        <id column="ul_id" property="ul_id" />
        <result column="ul_username" property="ul_username" />
        <result column="ul_password" property="ul_password" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ul_id, ul_username, ul_password
    </sql>

    <!-- 查找用户信息 -->
    <select id="findAllUser" resultType="com.example.entity.User_loginBean">
        select * from t_user_login
    </select>
</mapper>
